*{
    font: italic min(1.5em, 10vw) "Serif Sans", serif;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    background: linear-gradient(45deg, #2d388a, #00aeef);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-container{
    width: min(1000px, 90vw);
    text-align: left;
    color: white;
}

#quote{
    font-size: 1em;
    font-weight: 500;
}

#author{
    font-size: 0.45em;
    font-weight: 50;
}
